@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* shared-section */

.dancing-script-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.df{
    display: flex;
}
.orange{
    color: rgba(230, 83, 60, 1);
}
.white{
    color: white;
}
.black{
    background-color:rgba(17, 17, 17, 1);
}
.description-style{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    margin: 1rem 0;

}
/* navbar-section */

.navbar{
    max-width: 70%;
    margin: 60px auto;
    justify-content: space-between;
}
.site-name{
    font-size: 3rem;
    font-style: italic;
}
.nav-link{
    width: 40%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(63, 62, 62);
    padding: 0 40px 0 4px;
    border-radius: 39px;
}
.nav-link > li{
    list-style: none;
    font-size: 1.5rem;
}
.home-link{
    background-color:rgba(230, 83, 60, 1) ;
    border-radius: 46px;
    font-weight: 600;
    padding: 10px 20px;
}
.menu-button{
    visibility: hidden;
}
/* banner-section */
.banner{
    max-width: 70%;
    margin: 100px auto;
}
.banner-content{
    width: 50%;
}
.banner-title{
    font-size: 6rem;
    font-weight: 900;
    margin: 2rem 0;
}
.btn-left , .btn-right{
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 1.5rem;
    margin: 1rem 0;
}
.btn-left{
    background-color:rgba(230, 83, 60, 1) ;
    border: none;
}
.btn-right{
    border: 2px solid white;
    background-color:rgba(17, 17, 17, 1);
    margin-left: 20px;
}
.banner-img-box{
    width: 50%;
    margin-left: 200px;
    position: relative;
}
.v-350{
    width: 206px;
    height: 96px;
    background-color: rgba(48, 48, 48, 0.54);
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    position: absolute;
    top: 400px;
    right: 480px;
    padding: 14px;
}

.circle{
    background-color: rgba(230, 83, 60, 1) ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}
.circle-description{
    background-color: none;
}
.v-500{
    width: 206px;
    height: 96px;
    background-color: rgba(48, 48, 48, 0.54);
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    position: absolute;
    top: 120px;
    right: 120px;
    padding: 14px 0 14px 40px;
}

.v-500>h1{
    font-size: 40px;
    font-weight: 900;
}

/* change-habit-section */
.habit{
    max-width: 70%;
    margin: 6% auto;
}
.habit-section-title{
    text-align: center;
}
.habit-section-title>h1{
    font-size: 48px;
    color: white;
    margin: 2%;
}
.habit-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.habit-box-content{
    text-align: center;
    margin: 10px 20px;
    padding: 0 10px;
}
.h-img{
    border-radius: 50%;
    margin: 40px 0;
}
.habit-box-content>p{
    font-size:14px ;
    color: rgba(255, 255, 255, 0.5);
    margin: 10px 0 20px 0;
}
.extra{
    width: 70%;
    margin: 0 auto;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
}
.extra-left{
    width: 60%;
    padding: 4% 4% 0 4% ;
}
.extra-left>h1{
    font-size: 48px;
    color: white;
}
.extra-right{
    width: 35%;
    padding: 4% ;
}
.extra-img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.bmi-calculator-title{
    width: 48%;
    margin: 6% auto;
}
.bmi-calculator-title>h1{
    font-size: 48px;
    color: white;
}
.bmi-calculator{
    background-color: rgb(34, 34, 34);
}
.bmi-inner{
    width: 70%;
    margin: 4% auto;

}
.calculator-left{
    width: 40%;
}
.bmi-chart{
    font-size: 28px;
    color: white;
    padding: 4% 0;
}
table{
    border-collapse: collapse;
}
thead>tr>td{
    color: white;
}
td{
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    color:rgba(255, 255, 255, 0.5) ;
}
.calculator-right>div>h1{
    color: white;
    font-size: 28px;
    margin: 20px 0;
}
.input-box{
    display: grid;
    grid-template-areas: "height weght"
                         "age    gender " 
                         "selet  selet";
}
.height{
    grid-area: height;
}
.weght{
    grid-area: weght;
}
.age{
    grid-area:age ;
}
.gender{
    grid-area: gender;
}
.selet{
    grid-area: selet;
}
.height,
.weght,
.age,
.gender,
.selet{
    border-radius: 8px;
    padding: 12px 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 6px;
}
.team-title{
    width: 40%;
    margin: 4% auto;
    text-align: center;
}
.team-title>h1{
    color: white;
    font-size: 48px;
}
/* team-section */
.team{
    width: 70%;
    margin: 6% auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.img-des>h1{
    color: white;
}
.img-des>p{
    color: rgba(255, 255, 255, 0.5);
    
}
.img-des{
    margin-top:-68px;
    margin-left:20px;
}
.team-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}
/* footer */
.main-footer{
    width: 70%;
    margin: 0 auto;
}
.part-1>h1{
    font-size: 68px;
}
.part-1>p{
    font-size: 16px;
}
.part-1{
    width: 45%;
    padding: 20px 40px;
}
.part-2{
    width: 25%;
    padding: 20px;
}
.part-2>h1{
    color: white;
    font-size: 32px;
}
.part-2>p{
    font-size: 23px;
    color: rgba(255, 255, 255, 0.5);
    padding: 20px 0;
}
.part-3{
    width: 25%;
    padding: 20px;
}
.part-3>h1{
    color: white;
    font-size: 32px;
}
.part-3>p{
    font-size: 23px;
    color: rgba(255, 255, 255, 0.5);
    padding: 20px 0;
}
.divider{
    width: 90%;
    color: rgba(255, 255, 255, 0.5);
    margin: 40px auto;
}
.copyright-message{
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.unique-section{
    background-color: rgba(255, 255, 255, 0.1);
}
.unique-title{
    width: 49%;
    margin: 100px auto;
    padding: 90px 0 0 0;
}
.unique-title>h1{
    color: white;
    font-size: 48px;
}
.facility-machine{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 90px 0;
}
.facility-machine>img{
    width: 290px;
    height: 290px;
}
@media screen and (max-width: 576px){
    .nav-link{
        display: none;
    }
    .banner{
        flex-direction: column;
    }
    .navbar{
        max-width: 90%;
        margin: 20px auto;
        justify-content: space-between;
    }
    .site-name{
        font-size: 2.5rem;
        font-style: italic;
    }
    .banner{
        max-width: 95%;
        margin: 60px auto;
    }
    .banner-title{
        font-size: 3rem;
        font-weight: 700;
        margin: 2rem 0;
    }
    .banner-content{
        width: 100%;
    }
    .title-des{
        width: 68%;
    }
    .banner-btn-box{
        display: flex;
    }
    .btn-left , .btn-right{
        padding: 2% 8%;
        border-radius: 42px;
        font-size: 1.2rem;
    }
    .banner-img-box{
        width: 95%;
        margin: 0 auto;
        position: relative;
    }
    .banner-img{
        width: 100%;
    }
    .v-500{
        width: 120px;
        height: 68px;
        background-color: rgba(48, 48, 48, 0.54);
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        position: absolute;
        top: 90px;
        left: 220px;
        padding: 4px 20px;
    }
    .v-500>h1{
        font-size: 25px;
        font-weight: 900;
    }
    .v-500>p{
        font-size: 12px;
    }
    .v-350{
        width: 120px;
        height: 48px;
        background-color: rgba(48, 48, 48, 0.54);
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        position: absolute;
        top: 49%;
        right: 60%;
        padding: 10px;
    }
    .circle{
        background-color: rgba(230, 83, 60, 1) ;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 6px;
    }
    .circle-description{
        padding-top: 10px;
    }
    .circle-description>h1{
        font-size: 16px;
    }
    .circle-description>p{
        font-size: 12px;
    }
    /* habit-section-responsive */
    .habit-box{
        grid-template-columns: repeat(1, 1fr);
    }
    /* extra-section */
    .extra{
        width: 95%;
        flex-direction: column;
        margin: 4% auto;
        padding:4% 0 ;
    }
    .extra-left{
        width: 95%;
    }
    .extra-right{
        width: 95%;
        padding: 10px 10px 20px 10px;
        text-align: center;
    }
    .extra-left>button{
        width: 95%;
        font-size: 22px;
        padding: 10px 0;
    }
    .bmi-inner{
        flex-direction: column;
    }
    .height,
    .weght,
    .age,
    .gender{
        width: 79%;
    }
    
    .bmi-inner{
        width: 95%;
        margin: 4% auto;
    
    }
    .calculator-left{
        width: 95%;
        margin: 0 auto;
    }
    .calculator-right{
        width: 95%;
        margin: 0 auto;
    }
    .team-title{
        width: 100%;
        margin: 4% auto;
        text-align: center;
    }
    .team{
        width: 95%;
        margin: 6% auto;
        padding: 40px 0;
        background-color: rgba(255, 255, 255, 0.1);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .main-footer{
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
    }
    .part-1{
        width: 95%;
        padding: 20px 20px;
    }
    .part-2{
        width: 95%;
        padding: 20px 20px;
    }
    .part-3{
        width: 95%;
        padding: 20px 20px;
    }
    .menu-button{
        visibility: visible;
        font-size: 29px;
    }
    .facility-machine{
        width: 95%;
        margin: 0 auto;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .facility-machine>img{
        width: 100%;
        height: 290px;
    }
    .unique-title{
        width: 95%;
        margin: 100px auto;
        padding: 90px 0 0 10px;
    }
}